@page
@model IndexModel
@{
    ViewData["Title"] = "KENAR CRASTO LAB2";
}

<div class="text-center">
    <h1 class="display-4">KENAR CRASTO HCI LAB2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">PROVINCES AND CITY LAB</a>.</p>
</div>
